---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE__EN, SITE_DESCRIPTION__EN } from '../../consts';
import { stringComparator } from '../../utilities/helpers'

const prayers = (await getCollection('prayers')).sort(
	(a, b) => stringComparator(a.data.title, b.data.title)
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE__EN} description={SITE_DESCRIPTION__EN} />
    <style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE__EN} />
		<main>
			<section>
				<ul>
					{
						prayers.map((prayer) => (
							<li>
								<a href={`/en/${prayer.slug}/`}>{prayer.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
