---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE__EN, SITE_DESCRIPTION__EN } from '../../consts';
import { stringComparator } from '../../utilities/helpers'

const prayers = (await getCollection('prayers')).sort(
	(a, b) => stringComparator(a.data.title, b.data.title)
);
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<BaseHead title={SITE_TITLE__EN} description={SITE_DESCRIPTION__EN} />
	</head>
	<body class="container">
		<Header link="/en" title={SITE_TITLE__EN}>
			<div class="languages">
				<a href="/en">en</a>
				|
				<a href="/es">es</a>
			</div>
		</Header>
		<main>
			<section>
				<ul>
					{
						prayers.map((prayer) => (
							<li>
								<a href={`/en/${prayer.slug}/`}>{prayer.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
