---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE__ES, SITE_DESCRIPTION__ES } from '../../consts';
import { stringComparator } from '../../utilities/helpers'

const oraciones = (await getCollection('oraciones')).sort(
	(a, b) => stringComparator(a.data.title, b.data.title)
);
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE__ES} description={SITE_DESCRIPTION__ES} />
	</head>
	<body class="container">
		<Header title={SITE_TITLE__ES} />
		<main>
			<section>
				<ul>
					{
						oraciones.map((oracion) => (
							<li>
								<a href={`/es/${oracion.slug}/`}>{oracion.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
